* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-app {
    width: 350px;
    background: #ffffff;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.title {
    margin-bottom: 20px;
    color: #333;
}

.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-box input {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}

.search-box button {
    padding: 10px 15px;
    border: none;
    background-color: #4facfe;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #3b8ddf;
}

.weather-card {
    background: #f7f9fc;
    border-radius: 10px;
    padding: 15px;
}

.city {
    font-size: 22px;
    color: #222;
}

.date {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.temperature {
    margin-bottom: 20px;
}

.temp {
    font-size: 48px;
    font-weight: bold;
    color: #333;
}

.condition {
    display: block;
    font-size: 18px;
    color: #555;
}

.details {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.details div {
    background: #ffffff;
    padding: 10px;
    width: 45%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.details span {
    font-size: 13px;
    color: #777;
}

.details strong {
    display: block;
    margin-top: 5px;
    font-size: 16px;
    color: #333;
}